/* To use the Weather Icons, place the main CSS files in your CSS directory, and the font files in a "font" directory on the same folder level as the CSS director. Once you've done that, all you need to do to reference an icon in your HTML is type <i class="wi wi-night-sleet"></i>*/ 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Lora', serif;
  }

  .container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(251, 242, 133);
    background: radial-gradient(
      circle,
      rgba(251, 242, 133, 0.6334908963585435) 0%,
      rgba(224, 196, 91, 0.8407738095238095) 35%,
      rgba(230, 224, 113, 1) 100%
    );
  }

  .weather {
    display: flex; 
    align-items: center;
    margin: 15px 0;
    font-size: 1.5rem;
  }

  #location {
    font-size: 3rem;
    font-weight: 800;
    font-style: italic;
  }
  .desc {
    font-size: 1.25rem;
    text-transform: capitalize;
  }

  .circle {
    background-color: black;
    border-radius: 50px;
    height: 15px;
    width: 15px;
    margin: 0 15px;
  }

  /* Resize Moon Icon */
  #moonIconImg {
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: 50%;
    height: 50%;
    
  }
  